name: run-tests

on:
  push:
    branches: [main, v5-update]
    paths:
      - '**.php'
      - '.github/workflows/run-tests.yml'
      - 'composer.json'
  pull_request:
    branches: [main]
    paths:
      - '**.php'
      - '.github/workflows/run-tests.yml'
      - 'composer.json'

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      fail-fast: true
      matrix:
        php: [8.4]

    name: PHP ${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, fileinfo
          coverage: none

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction

      - name: Execute tests
        run: vendor/bin/pest --ci
